body{

    margin: 0;
}
#font-1{
    font-family: 'Poppins', sans-serif;
}
#font-2{
    font-family: 'Lobster', cursive;
}
#font-3{
    font-family: 'Aguafina Script', cursive;
}
#font-4{
    font-family: 'Open Sans', sans-serif;
}


h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

.flexiable-nav{
    background-color: rgb(226, 215, 193);
    margin: 15px;
    padding: 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.flexiable-nav > div > a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
    padding: 10px;

}

.flexiable-nav > div > a:hover{
    background-color: green;
    color: white;
}

.flex-container{

    display: flex;
    padding-left: 6%;
    
    
    
}
.flex-container1{

    margin: 5%;
    display: flex;
    
}
.half-width{
    width: 50%;
}

.third-width{
    

    width: 30%;
    padding: 20px;
    margin: 2.5%;

    text-align: justify;


    border-radius: 20px;

    border: 3px solid rgb(248, 66, 11);
    
    box-shadow: 5px 2px 15px 8px green ;
    
    

}

.center{

    
    display: flex;
    flex-flow: wrap row;
    
    justify-content:space-around;
    align-items: center;




}

.background2{

    
    padding-right: 6%;
    background-image:url(images/frame/Frame3.jpg);
    background-repeat: no-repeat;
    
}


.span1{
    color: orangered;
}

.button1{
    
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(51, 2, 2));
    
    border-radius: 10px;
    box-shadow: 10px 5px 10px 5px red;
     


}

.img-adjust{

    width: 100%;
}


